body {
  background: #242424;
  color: #454646;
  font-size: 14px;
  font-family: BerninaSansWeb,"Open Sans",sans-serif;
  margin: 0;
}

textarea, select, input, button { outline: none; }

input[type=button], input[type=button].default:hover, input[type=button]:visited {
  border-radius: 3px;
  border-width: 1px;
  border-color: #00a1b2;
  background: none;
  color: #fff;
  width: 100px;
  margin-top: 10px;
}

input[type=button]:hover, input[type=button].default, input[type=button]:active {
  background: #00a1b2;
  color: #fff;
}

div.searchbar {
  position: fixed;
  left: 236px;
  top: 0;
  right: 0;
  height: 44px;
  background: black;
}

div.searchbar a#home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

div.searchbar a#home svg{
    fill: white;
    width: 20px;
    height: 20px;
}

div.viewport {
  position: absolute;
  left: 236px;
  top: 44px;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 20px;
}

div.menubar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 236px;
  background-color: #525252;
}

div.menubar a, div.menubar a:visited {
    display: block;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
}

div.menubar a:hover {
  background: #242424;
}

a#logo {
background: url(data:image/svg+xml;base64,ICAgICAgICAgICAgPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTY2LjM1NiAyMTMuMDFjLjIxMyAxOS40NTguOTM2IDUwLjE4IDMuMTY4IDg0LjU4OSAzLjc5OSA1OC40MTkgMTEuMjkzIDExMC4zNjggMTEuMjkzIDExMC4zNjhsOTcuMjY0LTkyLjU3OHMtMy41MzktNDYuMzA3IDIuMjA1LTExNS40NzJjLS4wMDEgMC0xMDcuNzA1LTEyLjg2My0xMTMuOTMgMTMuMDkzek0yOTAuNDI1IDQ0Ny4zNGMyNS4xOTctNy4xMzggMTcuODMyLTExMi45MjkgMTcuODMyLTExMi45MjktNjkuMzY0IDIuMzE2LTExNS40NDktMy41MDEtMTE1LjQ0OS0zLjUwMWwtOTcuMjY0IDkyLjU3MnM1MS41MjIgMTAuMDU2IDEwOS42ODYgMTYuNzM0YzMyLjgzOCAzLjc2NiA3Ny4zNCA2Ljg0NSA4My41ODMgNy4yNzdhNi42MzkgNi42MzkgMCAwIDAgMS42MTItLjE1NHoiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNjYuMzEgMjA3LjAyMWMuMDA5IDEuODQ4LjAyNyAzLjg1My4wNDYgNS45OTMgMS4xNS00Ljc0MiAyLjkyNy04LjA0NCA2Ljg2NC0xMy4wNDIgOC4wMTMtMTAuMTUzIDIwLjkzNS0xMi44MDIgMjYuMTEzLTEzLjQ5MyAyNi4zMzYtMy40NDYgNjUuMjE0LTcuNjg4IDEwNC40OS04LjkwNiA2OS4zNjQtMi4xMzYgMTE1LjI0NSAzLjYyMSAxMTUuMjQ1IDMuNjIxbDk3LjI2NS05Mi41ODJzLTUxLjA0Mi05LjcyNy0xMDkuMTk3LTE2LjU2OGMtMzcuOTg4LTQuNDYtNzEuNTU4LTYuODI3LTkwLjI3LTcuOTI0LTEuMjUtLjA4NC0xNC43Mi0xLjcyMy0yNy4zNzMgMTAuMjkyLTEzLjg4NiAxMy4xNjMtODMuNSA3OS4yMzktMTExLjQ5NCAxMDUuODItMTIuNjQzIDEyLjAxLTExLjcgMjUuNTQzLTExLjY5IDI2Ljc5ek0yOTUuNTMgNDQ3Ljg5NWMtMS44NDQtLjEwNy0zLjg0NS0uMjE4LTUuOTg0LS4zNTIgNC43OTgtLjkwOCA4LjE5Ny0yLjUyIDEzLjM2Ny02LjIwMiAxMC41NDItNy41MDMgMTMuODMtMjAuMjc3IDE0Ljc2Ni0yNS40MjggNC43NDItMjYuMTI3IDEwLjkwMi02NC43NSAxNC4wNTEtMTAzLjkyIDUuNTYtNjkuMTczIDIuMDc2LTExNS4yODYgMi4wNzYtMTE1LjI4Nmw5Ny4yNTUtOTIuNTc4czcuMjA3IDUxLjQ2MyAxMS4xNzIgMTA5Ljg4MmMyLjU3NSAzOC4xNyAzLjI4OSA3MS44MTggMy40NTUgOTAuNTYyLjAxIDEuMjQ2IDEgMTQuNzktMTEuNjI2IDI2LjgyMi0xMy44MzkgMTMuMjIzLTgzLjI2NiA3OS40OTMtMTExLjE4NiAxMDYuMTM0LTEyLjYxNyAxMi4wMzgtMjYuMDg3IDEwLjQzLTI3LjM0NyAxMC4zNjZ6Ij48L3BhdGg+PC9zdmc+) no-repeat;
    background-size: auto 16px;
    background-position: 20px 14px;
    position: relative;
    cursor: pointer;
    color: white;
    height: 44px;
    font-size: 14px;
    line-height: 49px;
    overflow: hidden;
    flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 0;
    -ms-flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

fieldset {
  border-radius: 3px;
  margin-bottom: 10px;
}

fieldset input.api {
  width: 300px;
}

ol.prereqs li img {
  width: 60%;
}

ul.ids li {
  margin-top: 6px;
  margin-bottom: 6px;
}

span.id-1 {
  border: 2px #1495FF solid;
  background: #A1D5FF;
  color: black;
}
span.id-2 {
  border: 2px #8A36D0 solid;
  background: #D0AFEC;
  color: black;
}
span.id-3 {
  border: 2px #5350B6 solid;
  background: #BAB9E2;
  color: black;
}
span.id-4 {
  border: 2px #6140A3 solid;
  background: #BEAEDF;
  color: black;
}
span.id-5 {
  border: 2px #73BE28 solid;
  background: #C7ECA2;
  color: black;
}

li.BOcollection input:checked ~ ul {
  visibility: visible;
  max-height: 100%;
}

li.BOcollection input ~ ul {
  visibility: hidden;
  overflow: hidden;
  max-height: 0px;
}

div#options, div#funnelwrapper {
  width: 50%;
  float: left;
}

div#funnelbuttons {
  margin: auto;
  text-align: center;
}
