body {
  background: #242424;
  color: #454646;
  font-size: 14px;
  font-family: BerninaSansWeb,"Open Sans",sans-serif;
  margin: 0;
}

#everything {
    display: flex;
}

#rhs {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#lhs {
    flex: 0 0 236px;

    display: flex;
    flex-direction: column;
}

#lhsv, #rhsv{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#menubar {
    flex: 1 0 100vh;
  background-color: #525252;
}

#searchbar {
    flex: 0 0 44px;
  background: black;
}

#searchbarh {
    display: flex;
    flex-direction: row;
}

#searchbarh #hamburger {
    flex: 0 0 44px;
    order: 1;
    display: none;
}

#dbbutton {
    flex: 0;
    order: 2;
}

#bcwrapper {
    flex: 0 0 44px;
}

#searchbar #dbbutton a, #searchbar a#config, #hamburger a  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

#searchbar svg, #searchbar a#config img, svg.icon {
    fill: white;
    width: 20px;
    height: 20px;
}

#viewport {
  flex: 1;
  color: #fff;
  padding: 20px;
}

.uitest { visibility: hidden;}

textarea, select, input, button { outline: none; }

input[type=button], input[type=button].default:hover, input[type=button]:visited {
  border-radius: 3px;
  border-width: 1px;
  border-color: #00a1b2;
  background: none;
  color: #fff;
  min-width: 100px;
  margin: 10px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=button]:hover, input[type=button].default, input[type=button]:active {
  background: #00a1b2;
  color: #fff;
}

select[multiple=multiple] {
  min-width: 200px;
  min-height: 150px;
}

#menubar a, #menubar a:visited {
    display: block;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
}

#menubar a:hover:not(#logo), #searchbar a:hover {
  background: #242424;
  cursor: pointer;
}

#logorow {
  display: flex;
  padding: 0px;
}

a#logo {
background: url(data:image/svg+xml;base64,ICAgICAgICAgICAgPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4IiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTY2LjM1NiAyMTMuMDFjLjIxMyAxOS40NTguOTM2IDUwLjE4IDMuMTY4IDg0LjU4OSAzLjc5OSA1OC40MTkgMTEuMjkzIDExMC4zNjggMTEuMjkzIDExMC4zNjhsOTcuMjY0LTkyLjU3OHMtMy41MzktNDYuMzA3IDIuMjA1LTExNS40NzJjLS4wMDEgMC0xMDcuNzA1LTEyLjg2My0xMTMuOTMgMTMuMDkzek0yOTAuNDI1IDQ0Ny4zNGMyNS4xOTctNy4xMzggMTcuODMyLTExMi45MjkgMTcuODMyLTExMi45MjktNjkuMzY0IDIuMzE2LTExNS40NDktMy41MDEtMTE1LjQ0OS0zLjUwMWwtOTcuMjY0IDkyLjU3MnM1MS41MjIgMTAuMDU2IDEwOS42ODYgMTYuNzM0YzMyLjgzOCAzLjc2NiA3Ny4zNCA2Ljg0NSA4My41ODMgNy4yNzdhNi42MzkgNi42MzkgMCAwIDAgMS42MTItLjE1NHoiPjwvcGF0aD48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNjYuMzEgMjA3LjAyMWMuMDA5IDEuODQ4LjAyNyAzLjg1My4wNDYgNS45OTMgMS4xNS00Ljc0MiAyLjkyNy04LjA0NCA2Ljg2NC0xMy4wNDIgOC4wMTMtMTAuMTUzIDIwLjkzNS0xMi44MDIgMjYuMTEzLTEzLjQ5MyAyNi4zMzYtMy40NDYgNjUuMjE0LTcuNjg4IDEwNC40OS04LjkwNiA2OS4zNjQtMi4xMzYgMTE1LjI0NSAzLjYyMSAxMTUuMjQ1IDMuNjIxbDk3LjI2NS05Mi41ODJzLTUxLjA0Mi05LjcyNy0xMDkuMTk3LTE2LjU2OGMtMzcuOTg4LTQuNDYtNzEuNTU4LTYuODI3LTkwLjI3LTcuOTI0LTEuMjUtLjA4NC0xNC43Mi0xLjcyMy0yNy4zNzMgMTAuMjkyLTEzLjg4NiAxMy4xNjMtODMuNSA3OS4yMzktMTExLjQ5NCAxMDUuODItMTIuNjQzIDEyLjAxLTExLjcgMjUuNTQzLTExLjY5IDI2Ljc5ek0yOTUuNTMgNDQ3Ljg5NWMtMS44NDQtLjEwNy0zLjg0NS0uMjE4LTUuOTg0LS4zNTIgNC43OTgtLjkwOCA4LjE5Ny0yLjUyIDEzLjM2Ny02LjIwMiAxMC41NDItNy41MDMgMTMuODMtMjAuMjc3IDE0Ljc2Ni0yNS40MjggNC43NDItMjYuMTI3IDEwLjkwMi02NC43NSAxNC4wNTEtMTAzLjkyIDUuNTYtNjkuMTczIDIuMDc2LTExNS4yODYgMi4wNzYtMTE1LjI4Nmw5Ny4yNTUtOTIuNTc4czcuMjA3IDUxLjQ2MyAxMS4xNzIgMTA5Ljg4MmMyLjU3NSAzOC4xNyAzLjI4OSA3MS44MTggMy40NTUgOTAuNTYyLjAxIDEuMjQ2IDEgMTQuNzktMTEuNjI2IDI2LjgyMi0xMy44MzkgMTMuMjIzLTgzLjI2NiA3OS40OTMtMTExLjE4NiAxMDYuMTM0LTEyLjYxNyAxMi4wMzgtMjYuMDg3IDEwLjQzLTI3LjM0NyAxMC4zNjZ6Ij48L3BhdGg+PC9zdmc+) no-repeat;
    background-size: auto 20px;
    background-position: 10px 14px;
    position: relative;
    cursor: pointer;
    color: white;
    height: 44px;
    font-size: 14px;
    line-height: 49px;
    flex: 1;
    white-space: nowrap;
}
#logorow #arrow, #hamburger {
    display: inline-flex;
    width: 44px;
    height: 44px;
    flex: 0 0 44px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#arrow svg, #hamburger svg {
    width: 20px;
    height: 20px;
    fill: white;
}

fieldset {
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

fieldset input.api {
  min-width: 450px;
}

img.screenshot {
  width: 60%;
  border: 1px solid #8A36D0;
  border-radius: 3px;
}

ul.ids li {
  margin-top: 6px;
  margin-bottom: 6px;
}

span.id-1 {
  border: 2px #1495FF solid;
  background: #A1D5FF;
  color: black;
}
span.id-2 {
  border: 2px #8A36D0 solid;
  background: #D0AFEC;
  color: black;
}
span.id-3 {
  border: 2px #5350B6 solid;
  background: #BAB9E2;
  color: black;
}
span.id-4 {
  border: 2px #6140A3 solid;
  background: #BEAEDF;
  color: black;
}
span.id-5 {
  border: 2px #73BE28 solid;
  background: #C7ECA2;
  color: black;
}

li.BOcollection input:checked ~ ul {
  visibility: visible;
  max-height: 100%;
}

li.BOcollection input ~ ul {
  visibility: hidden;
  overflow: hidden;
  max-height: 0px;
}

#funnelFlex {
  display: flex;
}

#funnelwrapper {
  flex: 1;
  order: 2;
}

#options {
  flex: 1;
  order: 1;
}

div#funnelbuttons {
  margin: auto;
  text-align: center;
}

li.ui-widget-content {
  width: 75%;
}

div#labelForm {
  position: absolute;
  display: none;
}

div#funnelUpload {
  display: flex;
  justify-content: center;
}

div#querybox {
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

div#querybox input,
div#querybox a {
  margin: 5px 10px 0px 10px;
}

#whereClause {
  width: 100%;
  text-overflow: ellipsis;
  background: #CCCCCC;
}

#whereClause.pencilMode {
  text-overflow: clip;
  background: white;
}

div#overviewImages img {
  max-width: 50%;
  height: auto;
}

div.bc {
  display: flex;
  flex-direction: row;
  background-color: #4556d7;
}

a.bc {
  direction: ltr;
  font-family: BerninaSansWeb, sans-serif;
  display: -webkit-flex;
  /*-webkit-flex-shrink: 0;*/
  padding: 0 10px 0 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  vertical-align: baseline;
  text-decoration: none;
  color: white;
  position: relative;
  margin: 0 2px 0 0;
  white-space: nowrap;
  background-color: #4556d7;
  text-overflow: ellipsis;
}

a.bc:hover { 
  background-color: #526CFF;
}

a.bc:not(.bc-first)::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 6px solid;
}

a.bc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    z-index: 1;
}

a.bc::after {
    border-left: 6px solid #4556d7;
}

a.bc:hover::after {
    border-left: 6px solid #526CFF;
}

#pencil svg {
  height: 20px;
  width: 20px;
  fill: white;
}

#pencil.pencilMode svg {
  fill: #00A1B2;
}

#pencil:hover svg {
  fill: #EF651F;
}

#goallist li {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#goallist li.pencilMode {
  background: #CCCCCC;
}

#comparisons, #filters, div.flexcontainer {
  display: flex;
}

#comparisons h3, #filters h3, div.flexcontainer h3 {
  color: #00B9CB;
}

#comparisons > div, #filters > div, div.flexcontainer > div {
  margin: 0px 10px 0px 10px;
  border: 1px solid #606060;
  border-radius: 3px;
  padding: 0px 5px 5px 5px;
}

span.configHeader {
  color: #00B9CB;
}
dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
  align-items: flex-end;
}
dl dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px dotted #606060;
  border-radius: 3px;
}
dl dd {
  flex:0 0 50%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-end;
  border-bottom: 1px dotted #606060;
  border-radius: 3px;
}

input[type=file] {
  border: 1px solid #606060;
  border-radius: 3px;
}

#loadConfigDiv {
  display: none;
}

#folder svg{
    fill: white;
    width: 20px;
    height: 20px;
}

#folder:hover svg {
  fill: #EF651F;
}

#loaderwrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 200px;
}

#loaderA {
  position: absolute;
  z-index: 10;
  border: 8px solid #242424;
  border-radius: 50%;
  border-top: 8px solid #b4dc00;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

#loaderB {
  position: absolute;
  z-index: 11;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top: 8px solid #242424;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1.2s linear infinite; /* Safari */
  animation: spin 1.2s linear infinite;
}

#loading {
  position: relative;
  left: 40px;
  top: 14px;
  color: #b4dc00;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

a.newTab, a.newTab:visited, a.toolsList, a.toolsList:visited {
  color: #00b9cc;
  text-decoration: none;
  cursor: pointer;
}

a.newTab:hover, a.toolsList:hover {
  text-decoration: underline;
}

a.newTab img {
  width: 1em;
  height: 1em;
  color: #00b9cc;
}

a.dashboardCleanup-owner, a.dashboardCleanup-owner:visited, a.dashboardCleanup-db, a.dashboardCleanup-db:visited{
  color: #00b9cc;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

a.dashboardCleanup-owner:hover, a.dashboardCleanup-db:hover {
  text-decoration: underline;
}

#errorBox {
  display: none;
  flex: 0 0 44px;
  background-color: #ffe11c;
}

#errorBox.info {
  background-color: #ececec;
}

span.steptype {
  font-size: smaller;
  color: #00a1b2;
}

.campaignActive, .featureAdded, .compareApp {
  display: none;
}

#errorBox pre {
  display: inline;
  white-space: nowrap;
}

div.license {
  font-size: 12px;;
  color: #ABABAB;
  font-style: italic;
  position: fixed;
  bottom: 0px;
}

div.license a, div.license a:visited {
  font-size: 12px;;
  color: #ABABAB;
  font-style: italic;
}

div.license a:hover {
  color: #ff944d;
}

#deployAppOverviewBox {
  display: flex;
}

#deployAppOverviewBox> div {
  margin: 0px 10px 0px 10px;
  border: 1px solid #606060;
  border-radius: 3px;
  padding: 0px 5px 5px 5px;
}

tr.github {
  display: none;
}

#faq b, #devguide b {
  color: #00b9cc;
}

#popup {
  background-color: #525252;
  border: 1px solid #00b9cc;
  border-radius: 3px;
  position: fixed;
  width: 300px;
  height: 175px;
  top: calc(50% - 175px/2);
  left: calc(50% - 300px/2);
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#popup span.header {
  color: #00b9cc;
  font-size: larger;
}

#popup td.desc {
  color: white;
  font-size: smaller;
  text-align: left;
}

#popup table {
  width: 100%;
  height: 100%;
}

#filterClause {
  width: 80%;
}

#funnel svg {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .19));
}

#deployFunnel-funnel-next {
  background: #00a1b2;
}
#deployFunnel-funnel-next:hover {
  background: none;
}

#overviewpage h3 {
  color: #00b9cc;
}

img.structure {
  border: 1px solid #8A36D0;
  border-radius: 30px;
}

#xapp_apps {
  display: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #00a1b2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 101%;
  top: -5px;
  font-size: smaller;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #00a1b2 transparent transparent;
}

.xapps {
  display: none;
}

#hspacer {
  flex: 1;
  order: 3;
}

#gear {
    flex: 0 0 44px;
    order: 4;
}

#gear img{
    height: 20px;
    width: 20px;
}

#xapp_compare, .xapp_compare {
  display: none;
}

.x_box {
  text-align: right;
}

#x_a {
  color: white;
  padding: 5px 5px 5px 5px;
  background: #242424;
  font-size: 20px;
  width: 20px;
  margin-right: -5px;
}

#x_a:hover {
  color: #00a1b2;  
  cursor: pointer;
  background-color: #525252;
}

#repo_config, #dashboard_list {
  position: fixed;
  left: 10%;
  width: 80%;
  top: 10%;
  height: 80%;
  display: none;
  background-color: #525252;
  border: 1px solid #00b9cc;
  border-radius: 3px;
  position: fixed;
  color: white;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

#repo_config td {
  text-align: left;
}

#repo_config td.right {
  display: flex;
  text-align: justify;
  min-width: 600px;
}

#repo_config td.right input[type=text] {
  flex: 1;
}

#repo_config td.right input[type=button] {
  min-width: 40px;
  max-width: 40px;
  margin: 0px 0px 0px 5px;
}

#repo_config input[type=text]:not([class]) {
  width: 350px;
}

#repo_config input[type=text].small {
  width: 140px;
}

input.repo_owner, input.appOverview_name, input.tenantOverview_name, input.journeyOverview_name, input.overview_name {
  width: 140px;
  margin-right: 5px;
}

input.repo_repo, input.appOverview_filename, input.tenantOverview_filename, input.journeyOverview_filename, input.overview_filename {
  width: 140px;
  margin-left: 5px;
}

a.dashboardList {
  color: white;
}

a.dashboardList:hover {
  color: #00b9cc;
}

th {
  color: #00b9cc;
}

#citrixAutoTag {
  display: none;
}

/*input#dashboardCleanup {
}*/

#compareMZ {
  display: none;
}

#revealToken {
  display: inline-block;
  cursor: pointer;
  color: white;
  height: 20px;
  width: 20px;
  white-space: nowrap;
  vertical-align: middle;
}

#revealToken img.close {
  display: none;
  height: 20px;
  width: 20px;
}
#revealToken img.open {
  display: inline;
}
#revealToken.revealed img.close {display: inline;}
#revealToken.revealed img.open {display: none;}

#config table {
  min-width: 60%;
}

#remoteEmployeeInputs, .remoteEmployeeCompare {
  display: none;
}

#ipClause, #compareipClause, #compareipClause2 {
  width: 95%;
}

#addIpRange, #compareaddIpRange, #compareaddIpRange2 {
  width: 30px;
  min-width: 30px;
}

#ownerlist, #dashboardlist {
  flex: 0 0 20%;
}

#ownerlist ul, #dashboardlist ul {
  padding-inline-start: 10px;
}

#ownerlist li, #dashboardlist li {
  list-style-type: none;
}

#cleanupjsonviewer {
  flex: 1 1 60%;
}

#cleanupjsonviewer pre {
  white-space: pre-wrap;
}

table.dataTable {
  border: 1px solid;
  background: white;
  color: black;
  border-radius: 3px;
  border-spacing: 0px;
  font-variant: tabular-nums;
}

table.dataTable td{
  padding: 8px 12px;
  border: 0px;
  text-align: right;
}

table.dataTable td:nth-child(1){
  text-align: left;
}

table.dataTable tr:nth-child(even) {
  background-color: #f8f8f8;
  /*border: 1px solid #f8f8f8;*/
}

table.dataTable thead td {
  border-bottom: 1px solid #e6e6e6;
}

table.dataTable tfoot td {
  border-top: 1px solid #e6e6e6;
}

span.info {
  font-style: italic;
}

code {
  color: #e6e6e6;
}